* {

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 3%;
}



#resultCard {
    display: flex;
    margin-top: 5%;
}

#resultCard img {
    width: 100%;
}


